.app-container {
  height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  text-align: center;
}

.main-header {
  font-family: "Cinzel Decorative", cursive;
  font-size: 3rem;
  padding: 1rem;
}
