.card {
  background-color: lightgreen;
  display: inline-block;
  margin: 2rem;
  border: solid #000 3px;
  border-radius: 20px;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  transition: all ease-in 150ms;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(12, 83, 131);
}

.card h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  font-size: 1.5rem;
}

.card p {
  font-size: 0.8rem;
  color: rgb(63, 63, 63);
}
